html {
    position: relative;
    height: 100%;
    width: 100%;
}
.title{
    text-align: center;
    font-size: 5em;
    font-weight: 600;
}
.search{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#playerName{
    width: 40%;
}
#btn{
    width: 15%;
}

.recordLegend{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right:10%;
    margin-left: 10%;
    /* background-color: aqua; */
    position: relative;
    font-weight: 600;
    font-size: 1em;
    
}
#dbCol{
    padding-left: 10%;
    padding-right: 10%;
    /* text-align: center; */
    /* padding-left: 2%; */
}

.newRecord{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right:7%;
    margin-left: 7%;
    /* background-color: aqua; */
    position: relative;

}

.teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right:7%;
    margin-left: 7%; 
}
.ateam{
    height: 10em;
    width: 10em;
}